<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}coolChat{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <script type="text/javascript" src='{% static "bower_components/jquery/dist/jquery.min.js" %}'></script>
    <script type="text/javascript" src='{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "bower_components/underscore.string/dist/underscore.string.min.js" %}'></script>
    <script type="text/javascript" src='{% static "bower_components/reconnecting-websocket/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "chat.js" %}'></script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    {% block extra_body %}{% endblock %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">coolChat</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main_nav">
                    {% block topnav %}
                        {%  include "includes/_topnav.html" %}
                    {% endblock %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    <section id="content">
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </section>

    <footer>
        <div class="container">
            <div class="center">
                <div class="questions">
                    <h4>Any questions?</h4>
                    <div><span><i class="fa fa-envelope"></i></span> <a href="mailto:kambembotresor@gmail.com">kambembotresor@gmail.com</a></div>
                    <div><span><i class="fa fa-phone"></i></span> <a href="tel:0861117298">078 929 3041</a></div>
                </div>
                <span><i class="fa fa-globe"></i></span> <a href="http://www.trezcool.com" target="_blank">www.trezcool.com</a>
            </div>
            {% block extra_footer %}{% endblock %}
        </div>
    </footer>
</body>
</html>