body {
    padding-top: 4em;
}

p.deck {
    font-size: 2.5rem;
    font-weight: 200;
}

p.deck a {
    text-decoration: none;
}

.quiet {
    font-size: 90%;
    color: #999;
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.card {
    position: relative;
    display: block;
    max-width: 40%;
    margin-top: .75rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,.125);
}
.card-block {
    padding: .75rem .75rem 0 .75rem;
}
.card-title {
    margin-bottom: .25rem;
}
.user-message {
    background-color: rgba(8, 226, 0, 0.27);
    overflow: auto;
}
.clearfix {
    clear: both;
}
.fav {
    color: rgb(238, 176, 8);
}
.date-grouper {
    text-align: center;
    max-width: 8%;
    margin:0 auto;
    background-color: rgba(61, 164, 199, 0.36);
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,.125);
}