body {
    padding-top: 4em;
}

p.deck {
    font-size: 2.5rem;
    font-weight: 200;
}

p.deck a {
    text-decoration: none;
}

.quiet {
    font-size: 90%;
    color: #999;
}

.card {
    position: relative;
    display: block;
    max-width: 40%;
    margin-top: .75rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,.125);
}
.card-block {
    padding: .75rem .75rem 0 .75rem;
}
.card-title {
    margin-bottom: .25rem;
}
.user-message {
    background-color: rgba(61, 164, 199, 0.36);
    overflow: auto;
}
.clearfix {
    clear: both;
}