{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ group.name }} | {{ block.super }}{% endblock %}

{% block extra_head %}
    <!-- Chat session script -->
    <script type="text/javascript">
        $(function() { new ChatSession('{{ request.user.username }}', true) })
    </script>
{% endblock extra_head %}

{% block topnav %}
    {% include "includes/_topnav.html" with tab='chats' %}
{% endblock topnav %}

{% block content %}
    <div class="container center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-body">
                        <div class="media-heading"><h3 class="panel-title">{{ group.name }}</h3></div>
                    </div>
                    <div class="media-right">
                        <img class="media-object" src="{% static 'img/anon.png' %}" alt="" style="width: 64px; height: 64px;">
                    </div>
                </div>
            </div>

            <div style="padding: 1em">
                <form id="chatform">
                    <div id="chat">
                    {% if msg_count < max_count %}
                        <p class="text-center"><a href="{% url 'group_chat' group.label %}?msg_count={{ msg_count }}"><span><i class="fa fa-refresh"></i></span> </a></p>
                    {% endif %}
                    {% regroup chat_messages|dictsort:"timestamp_date" by timestamp_date as grouped %}
                    {% for group in grouped %}
                        <div class="date-grouper clearfix">{{ group.grouper|date:'D, j M' }}</div>
                        {% for message in group.list %}
                            <div class="card clearfix {% if message.sender_id == request.user.pk %}pull-right user-message {% endif %}">
                                <div class="card-block">
                                    {% if message.sender_id != request.user.pk %}
                                        <p class="card-title" style="color: #308430"><b>{{ message.sender|title }}</b></p>
                                    {% endif %}
                                    <p>{{ message.message }}</p>
                                    <p><small class="text-muted">{{ message.formatted_timestamp }}</small></p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-12"><br>
                            <div class="input-group">
                                <input type="text" class="form-control" id="message" placeholder="Type...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="go">Say it!</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}
