{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ group.name }} Members | {{ block.super }}{% endblock %}

{% block topnav %}
    {% include "includes/_topnav.html" with tab='groups' %}
{% endblock topnav %}

{% block content %}
    <div class="container center">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ group.name }} Members</h3></div>

            <div style="padding: 1em">
            {% for member in members %}
                <div class="media" style="position: relative">
                    <div class="media-left">
                        <img class="media-object" src="{% static 'img/anon.png' %}" alt="" style="width: 64px; height: 64px;">
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <h4 style="margin-bottom: 0">{% if member == request.user %}You{% else %}{{ member|title }}{% endif %}</h4>
                            {% if member == group.admin %}<span class="text-danger">admin</span>{% endif %}
                        </div>
                    </div>
                    <div class="media-right">
                        {% if member != request.user %}
                            <a href="{% url 'p2p_chat' member.pk %}"><span><i class="fa fa-comments-o"></i></span> </a>
                        {% endif %}
                    </div>
                </div>{% if not forloop.last %}<hr style="margin: 1em">{% endif %}
            {% empty %}
                No contacts.
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
